@import "./fonts";
@import "./variables";

// FontAwesome
$fa-font-path : "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

// Tout les modules apparaissent après bootstrap ou n'importe quel autre framework.
// Modules

@import "./modules/header";
@import "./modules/section1";
@import "./modules/section2";
@import "./modules/section3";
@import "./modules/section4";
@import "./modules/section5";
@import "./modules/section6";
@import "./modules/section7";
@import "./modules/section8";
@import "./modules/section9";
@import "./modules/section10";
@import "./modules/section11";
@import "./modules/footer";

body {
    width: 100%;
    direction: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

// section {
//     overflow: hidden;
//     padding: 80px 0;
// }

.section-bg {
    background-color: #eee;
}

.section-header {
    text-align: center;
    padding-bottom: 30px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    
}

.section-header p {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
}

.section-header p span {
    color: $vert;
}