//Global
.header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    // justify-content: space-between;
    background-color: white;
    height: 100px;
    width: 100vw;
    z-index: 1;
    
    .titre {
    text-decoration: none;
    margin-left: 10%;

        h1 {
            font-size: 2rem;
            font-weight: 700;
            color: black;

            span {
                color: $vert;
            }
        }
    }
    .navbar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        width: 60%;

        ul {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            padding: 0;

            li {
                padding: 10px 0 10px 28px;

                a {
                    display: block;
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 600;
                    color: gray;
                    transition: 0.3s;
                }
            }
        }
    }
}




//NAVBAR



.navbar a:hover {
    color: black;
    // width: 0%;
    visibility: visible;

   
}

.navbar a:before {
    content: "";
    position: absolute;
    // margin-top: -0,5%;
    height: 2px;
    // bottom: -0.4vh;
    background-color: $vert;
    visibility: hidden;
    width: 0%;
    transition: all 0.3s ease-in-out 0s;
}


a:hover:before {
    visibility: visible;
    width: 5%;
    // margin-top: -2px;

}
.navbar-toggle {
    display: none;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

// .navbar-list li {
//     // margin: 0 10px;
// }



//Bouton BOOK TABLE 

.header .btnbooktable {
    font-size: 1rem;
    color: #fff;
    background: $vert;
    padding: 8px 20px;
    margin-right: 8%;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
    border: none;
}


.header .btnbooktable:hover {
    color: #fff;
    background: red;
}

// ---------DARK MODE---------
body {
    background-color: white;
    color: black;
}

#darkMode {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark-mode {
    background-color: black;
    color: white;
}

// --------MODAL-----------
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

//BTN POUR REMONTER EN HAUT ET VERS LE BAS

.scroll-button {
    background-color: $vert;
    color: white;
    // padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .header {
        .navbar {
            display: block;
        }

        .navbar-list {
            display: none;
        }

        .navbar-toggle {
            display: block;
        }
    }
}