
.section1{
    display: flex;
    align-items: center;
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
    background-color: #eee;

    .container{
        padding-right: 15px;
        padding-left: 15px;

        .sousContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;

            .textSection1{
                flex: 0 0 41.667%;
                max-width: 41.667%;
                //order: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                text-align: start;
            
                h2{
                    font-size: 3rem;
                    font-weight: 700;
                    margin-bottom: 20px;
                    color: black;
                    font-family: "CookieandMilk";
                }

                p {
                    color: black;
                    font-weight: 400;
                    margin-bottom: 30px;
                    text-align: start;
                }
                .btnbooktable  {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 1px;
                    display: inline-block;
                    padding: 12px 36px;
                    border-radius: 50px;
                    border: none;
                    transition: 0.5s;
                    color: #fff;
                    background: $vert;
                    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
                }
                .btnbooktable:hover {
                    color: #fff;
                    background: red;
                }
                .btnvideo:hover i {
                    color: rgba(206, 18, 18, 0.8);
                }
                
                .btnvideo {
                    font-size: 1rem;
                    transition: 0.5s;
                    margin-left: 25px;
                    color: $vert;
                    font-weight: 600;
                    text-decoration: none;
                
                    i {
                        color:$vert;
                        font-size: 2rem;
                        transition: 0.3s;
                        line-height: 0;
                        margin-right: 8px;
                    }
                }
                

            }
            .sousContainer img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}

@media (max-width: 992px) {
    .sousContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgSection1 img{
        height: 250px;
        width: auto;
    }
    .textSection1 {
        order: 2;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}
