.menu .nav-tabs {
    border: 0;
  }

.divStarter {
    margin: 0 10px;
    padding: 10px 5px;
    transition: 0.3s;
    color: black;
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 2px solid #b6b6bf;
  }

  @media (max-width: 575px) {
    .divStarter {
      margin: 0 10px;
      padding: 10px 0;
    }
  }

  .divStarter h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    font-family: black;
  }

  @media (max-width: 575px) {
    .divStarter h4 {
      font-size: 16px;
    }
  }

  .divStarter:hover {
    color: $vert;
  }

  .divStarter:active {
    color: $vert;
    border-color: $vert;
  }


#section5 {
  height: auto;
  margin: auto;
  background-color: white;

  #souscontainer {
    text-align: center;
    margin-top: 3%;

    .prix {
      color: $vert;
    }

    p {
      color: gray;
    }

    .row {
      display: flex;
      justify-content: space-around;
      margin-top: 3%;
    }

    img {
      height: 200px;
    }
  }

  .contenuMenu {
    margin-top: 2%;

    h2 {
      color: $vert;
    }
  }

  .navMenu {
    display: flex;
    justify-content: center;

    .divStarter {
      color: rgb(0, 0, 0);
      margin: 1%;
      border-bottom: solid 1px gray;
      font-size: 115%;
    }

    .divStarter:hover {
      color: $vert;
      transition-duration: 0.5s;
      margin: 1%;
      border-bottom: solid 1px $vert;
      font-size: 115%;
      cursor: pointer;
    }
  }

  .container {
    width: 100%;
    text-align: center;

  }

}