
.slide1{
    background-image: url(../../../public/img/section7_Event/events-1.jpg);
}
.slide2{
    background-image: url(../../../public/img/section7_Event/events-2.jpg);
}
.slide3{
    background-image: url(../../../public/img/section7_Event/events-3.jpg);
}