
.section1{
    display: flex;
    align-items: center;
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
    background-color: #eee;
}

.section1 .container{
    padding-right: 15px;
    padding-left: 15px;
}

.section1 .souscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.section1 h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}

.section1 p {
    color: black;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: start;
}

.section1 .btnbooktable  {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: $vert;
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
}

.section1 .btnbooktable:hover {
    color: #fff;
    background: red;
}

.section1 .btnvideo {
    font-size: 1rem;
    transition: 0.5s;
    margin-left: 25px;
    color: $vert;
    font-weight: 600;
    text-decoration: none;
}

.section1 .btnvideo i {
    color:$vert;
    font-size: 2rem;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}

.section1 .btnvideo:hover i {
    color: rgba(206, 18, 18, 0.8);
}

.souscontainer .textSection1{
    flex: 0 0 41.667%;
    max-width: 41.667%;
    //order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    //width: 50%;
}
.souscontainer .section1{
    order: 2;
}

@media (max-width: 992px) {
    .textSection1 {
        order: 2;
        align-items: center;
        text-align: center;
    }
}
.souscontainer img{
    max-width: 100%;
    height: auto;
}