.section11 {
    width: 100%;
    .container {
        padding-right: 15px;
        padding-left: 15px;
        iframe {
            border: 0;
            width: 100%;
            height: 350px;
        }
        .sousContainer {
            display: flex;
            //flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .caseContact {
                display: flex;
                align-items: center;
                width: 50%;
                margin-top: 20px;
                padding: 20px 0;
                background-color: #f4f4f4;

                i {
                    background-color: $vert;
                    color: white;
                    padding: 10px;
                    border-radius: 50%;
                    font-size: 20px;
                    margin-left: 20px;
                    width: 56px;
                    height: 56px;
                    font-size: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                div {
                    margin-left: 20px;
                    font-family: Arial, Helvetica, sans-serif;
    
                    h3 {
                        font-size: 20px;
                        color: #6c757d;
                        font-weight: 700;
                        margin: 0 0 5px 0;
                    }
                    p {
                        padding: 0;
                        margin: 0;
                        line-height: 24px;
                        font-size: 14px;
                    }
                }
            }

        }
        .form {
            margin: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 15px;
            background: #fff;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
            
            .caseForm{
                width: 100%;
                display: flex;
                justify-content: space-between;

                input{
                    width: 48%;
                    height: 40px;
                    margin: 10px 0;
                }
            }
            .form-control{
                width: 100%;
                height: 40px;
                margin: 10px 0;
            }
            textarea{
                width: 100%;
                margin: 10px 0;
            }
            button{
                background: $vert;
                border: 0;
                padding: 12px 40px;
                color: #fff;
                transition: 0.4s;
                border-radius: 50px;
                
                cursor: pointer;
            }
            button:hover {
                background-color: red;
            }
        }
    }
}









